<%- include("partials/head") -%>
    <h1>Home</h1>
    <p> <%= homeContent %> </p>

    <% posts.forEach(function(post, index){ %>
      <div class="post">
          <h1> <%= post.postTitle %> </h1> 
          <p> 
              <%= post.postBody.substring(0, 100) + " ..." %> 
              <a href="/posts/<%= post._id %>">Read More</a>
          </p>
          <% if (user && user.likedPost == post._id) { %>
              <button class="like-btn" data-postid="<%= post._id %>" disabled>Liked</button>
          <% } else { %>
              <button class="like-btn" data-postid="<%= post._id %>">Like</button>
          <% } %>
          <span class="like-count" id="like-count-<%= index %>"><%= post.likes.length %></span>
      </div>
  <% }) %>
  

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const likeButtons = document.querySelectorAll('.like-btn');
        const likeCounts = document.querySelectorAll('.like-count');

        likeButtons.forEach((button, index) => {
            let count = parseInt(likeCounts[index].textContent);
            const postId = button.getAttribute('data-postid');

            button.addEventListener('click', async (event) => {
                const response = await fetch(`/likePost/${postId}`, { method: 'POST' });
                const data = await response.json();

                if (data.success) {
                    count++;
                    likeCounts[index].textContent = count;
                    button.disabled = true;
                } else {
                    alert(data.message);
                }
            });
        });
    });
</script>


    <%- include("partials/foot") -%>
  